*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#nav1 a:hover{
	color: #0d6efd;
	border-bottom:solid;
}
.card-body img{
	max-height: 200px;
	min-width: 50%;
}
#btn{
	border: none;
	margin-left: 350px;
	margin-top: -35px;
	position: absolute;
}